* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddc5eb;
}

@font-face {
    font-family: Adventure;
    src: url(../font/Adventure.otf);
}

#Cabecalho {
    font-family: Adventure;
    text-align: center;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    color: #fe019a;
    margin-bottom: 25px;
}

.header nav {
    margin: auto;
    list-style: none;
    text-decoration: none;
}

.header a {
    text-decoration: none;
    color: #040280;
}

.header button {
    display: block;
    border: 1px solid #fe019a;
    background-color: #cfa7d3;
    height: 50px;
    width: 280px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.header button:hover {
    box-shadow: 0 12px 16px 0 rgba(116, 7, 189, 0.562),0 17px 50px 0 rgba(116,7,189,0.562);
}

.banner {
    background-image: url("../img/banner.jpg");
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.banner h2 {
    font-family: Adventure;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

.card {
    width: 400px;
    height: 650px;
    border: 1px solid #fe019a;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}

.card__fundo {
    height: 270px;
    background-size: cover;
    background-image: url("../img/background.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.card__img {
    width: 35%;
    position: absolute;
    top: 37px;
    left: 127px;
    border: 5px solid #fe019a;

}

#PhantomBlood h2{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Adventure;
    -webkit-text-stroke: 1px black;
    color:#0e4d92;
    text-align: center;
}

#BattleTendency h2{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Adventure;
    -webkit-text-stroke: 1px black;
    color:#72bf6a;
    text-align: center;
}

.card__sinopse p {
    margin-bottom: 10px;
    text-align: justify;
    padding: 5px;
}

.card__botao button {
    display: block;
    margin: auto;
    border: 1px solid #fe019a;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #be93d4;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}                  

.card__sinopse a{
    text-decoration: none;
    color: #040280;
}

.personagens {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.personagem__img {
    width: 10%;
    border: 1px solid #fe019a;
    display: block;
    margin-bottom: 15px;
    margin: auto;
}
