* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddc5eb;
}

@font-face {
    font-family: Adventure;
    src: url(../font/Adventure.otf);
}

#Cabecalho {
    font-family: Adventure;
    text-align: center;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    color: #fe019a;
    margin-bottom: 25px;
}

.header nav {
    margin: auto;
    list-style: none;
    text-decoration: none;
}

.header a {
    text-decoration: none;
    color: #040280;
}

.header button {
    display: block;
    border: 1px solid #fe019a;
    background-color: #cfa7d3;
    height: 50px;
    width: 280px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.header button:hover {
    box-shadow: 0 12px 16px 0 rgba(116, 7, 189, 0.562),0 17px 50px 0 rgba(116,7,189,0.562);
}

.banner {
    background-image: url("../img/banner.jpg");
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.banner h2 {
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

.card {
    width: 400px;
    height: 600px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}

.card__fundo {
    height: 250px;
    background-size: cover;
    background-image: url("../img/background.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.card__img {
    width: 40%;
    position: absolute;
    top: 50px;
    left: 110px;
}

section div {
    border: 1px solid palevioletred;
}