#banner {
    background-image: url("../img/banner.jpg");
    height: 699px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

section div {
    border: 1px solid palevioletred;
}